Repository sammogharabi/seda.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log, no-only-tests

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

unit-tests:
  name: Unit Tests
  entry: npm run test:unit -- --passWithNoTests --findRelatedTests
  language: system
  pass_filenames: true
  stages:
  - pre-push

test-coverage-check:
  name: Test Coverage Check
  entry: npm run test:cov -- --passWithNoTests --coverageThreshold='{"global":{"branches":70,"functions":70,"lines":70,"statements":70}}'
  language: system
  pass_filenames: false
  stages:
  - pre-push

prisma-format:
  name: Prisma Format
  entry: npx prisma format
  language: system

no-console-log:
  name: No console.log
  entry: console\.log
  language: pygrep

no-only-tests:
  name: No .only in tests
  entry: \.(only|skip)\(
  language: pygrep

Prepare for Railway deployment
  .github/workflows/test.yml
  README.md
  UAT_CHECKLIST.md
  deploy-railway.sh
  docs/README.md
  docs/SETUP.md
  docs/infrastructure/README.md
  package-lock.json
  package.json
  railway.json
  supabase/package.json
Due: none

Fix Railway deployment issues
  .nvmrc
  package.json
Due: none

Fix VerificationModule dependency injection
  src/modules/verification/verification.module.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Fix all module dependency injection issues
  src/modules/admin/admin.module.ts
  src/modules/chat/chat.module.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Run Prisma migration on app startup
  deploy-db.sh
  package.json
Due: none

Fix Prisma build issue with dummy DATABASE_URL
  package.json
Due: none

Fix Railway Prisma build with custom build command
  .env.build
  package.json
  railway.json
Due: none

Skip Prisma generation during build, do it at runtime
  package.json
  railway.json
Due: none

Add Prisma build script with dummy DATABASE_URL
  package.json
  scripts/prisma-build.sh
Due: none

chore: start-prod wrapper + preflight checks
  package.json
  railway.json
  scripts/net-check.js
  scripts/start-prod.js
Due: eslint, no-console-log

chore(railway): pin region us-west2 and keep net-check start
  railway.json
Due: none

chore(net-check): use public DNS + sanity checks
  scripts/net-check.js
Due: eslint, no-console-log

chore(railway): restore prod start after connectivity OK
  railway.json
Due: none

Phase 1: Wire existing APIs to Figma prototype
  docs/CONNECTION_NOTES.md
  docs/FIGMA_MAP.md
  docs/READOUT.md
Due: none

Phase 2 Wave A: Bootstrap profiles & playlists
  .env.example
  CLAUDE.md
  CONTRIBUTING.md
  docs/AC_leaderboards.md
  docs/AC_playlists.md
  docs/AC_profiles.md
  docs/AC_social.md
  docs/AC_trophy_case.md
  docs/API_CONTRACTS.md
  docs/PHASE_3_SPEC.md
  docs/RELEASE_CHECKLIST.md
  docs/ROADMAP_PHASE_2.md
  docs/SEARCH_STRATEGY.md
  prisma/schema.prisma
  scripts/start-prod.js
  src/app.module.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/profiles/dto/create-profile.dto.ts
  src/modules/profiles/dto/update-profile.dto.ts
  src/modules/profiles/profiles.controller.ts
  src/modules/profiles/profiles.module.ts
  src/modules/profiles/profiles.service.ts
  supabase/migrations/20250902_wave_a_profiles_playlists.sql
Due: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log

docs: address PR #1 feedback - WebSocket auth documentation
  docs/CONNECTION_NOTES.md
  docs/READOUT.md
Due: none

feat: implement feature flag enforcement for PR #2 feedback
  src/common/decorators/feature.decorator.ts
  src/common/guards/feature.guard.ts
  src/modules/profiles/profiles.controller.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Complete Wave A features: cursor pagination, full playlists module, and E2E tests
  src/app.module.ts
  src/common/utils/cursor-pagination.util.ts
  src/modules/playlists/dto/add-playlist-item.dto.ts
  src/modules/playlists/dto/create-playlist.dto.ts
  src/modules/playlists/dto/get-playlist-items.dto.ts
  src/modules/playlists/dto/update-playlist.dto.ts
  src/modules/playlists/playlists.controller.ts
  src/modules/playlists/playlists.module.ts
  src/modules/playlists/playlists.service.ts
  src/modules/profiles/profiles.service.ts
  test/playlists.e2e-spec.ts
  test/profiles.e2e-spec.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix(phase-2): camelCase public API + Prisma fields; pagination mapping; auth mocked in e2e; syntax cleanup
  src/common/utils/cursor-pagination.util.ts
  src/modules/playlists/dto/add-playlist-item.dto.ts
  src/modules/playlists/dto/create-playlist.dto.ts
  src/modules/playlists/dto/get-playlist-items.dto.ts
  src/modules/playlists/playlists.service.ts
  src/modules/profiles/dto/create-profile.dto.ts
  src/modules/profiles/profiles.service.ts
  test/playlists.e2e-spec.ts
  test/profiles.e2e-spec.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

test(wave-a): stabilize feature-flag tests and duplicate username case; use env vars + message checks
  .env.test
  package-lock.json
  package.json
  test/playlists.e2e-spec.ts
  test/profiles.e2e-spec.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

test(wave-a): add test script; stabilize flag checks
  package.json
Due: none

chore: add db script; waveA test script + stabilized flag checks
  package.json
Due: none

ci: run Wave A E2E only (profiles/playlists) and set feature flags; add db and test scripts
  .github/workflows/test.yml
Due: none

fix: skip husky install in production builds
  package.json
Due: none

feat: add Railway deployment configuration
  nixpacks.toml
  railway.toml
Due: none

Force Railway redeploy - backend startup fix
  railway-deploy-test.txt
Due: none

trigger Railway redeploy
  README.md
Due: none

Fix Railway deployment: use sandbox environment configuration
  nixpacks.toml
Due: none

fix: add Dockerfile and improve nixpacks config for Railway
  Dockerfile
  nixpacks.toml
Due: none

fix: Railway backend deployment - complete fix
  .githooks/pre-commit
  chat.disabled.backup/chat.controller.ts
  chat.disabled.backup/chat.gateway.ts
  chat.disabled.backup/chat.module.ts
  chat.disabled.backup/dto/add-reaction.dto.ts
  chat.disabled.backup/dto/create-room.dto.ts
  chat.disabled.backup/dto/get-messages.dto.ts
  chat.disabled.backup/dto/moderate-user.dto.ts
  chat.disabled.backup/dto/send-message.dto.ts
  chat.disabled.backup/dto/send-track-card.dto.ts
  chat.disabled.backup/entities/message.entity.ts
  chat.disabled.backup/entities/room.entity.ts
  chat.disabled.backup/gateways/chat.gateway.spec.ts
  chat.disabled.backup/interfaces/websocket-events.interface.ts
  chat.disabled.backup/services/analytics.service.ts
  chat.disabled.backup/services/chat.service.spec.ts
  chat.disabled.backup/services/chat.service.ts
  chat.disabled.backup/services/chat.service.ts.backup
  chat.disabled.backup/services/mentions.service.ts
  chat.disabled.backup/services/music-unfurl.service.spec.ts
  chat.disabled.backup/services/music-unfurling.service.ts
  chat.disabled.backup/services/safety.service.ts
  nixpacks.toml
  package-lock.json
  railway.json
  src/app.module.ts
  src/common/guards/auth.guard.ts
  src/main.ts
  src/modules/chat/dto/get-messages.dto.ts
  src/modules/playlists/playlists.module.ts
  src/modules/playlists/playlists.service.ts
  src/modules/profiles/profiles.module.ts
  src/modules/profiles/profiles.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log, no-only-tests

fix: simplify build script to avoid missing shell script
  package.json
Due: none

fix: install dev dependencies for build, then clean up
  Dockerfile
Due: none

fix: use direct node startup instead of start-prod script
  Dockerfile
Due: none

feat: add Docker configuration for Railway deployment
  .dockerignore
  Dockerfile
Due: none

fix: resolve merge conflicts in service files
  src/modules/playlists/playlists.service.ts
  src/modules/profiles/profiles.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: exclude chat module from build and ensure clean compilation
  chat.disabled.backup/chat.controller.ts
  chat.disabled.backup/chat.gateway.ts
  chat.disabled.backup/chat.module.ts
  chat.disabled.backup/dto/add-reaction.dto.ts
  chat.disabled.backup/dto/create-room.dto.ts
  chat.disabled.backup/dto/get-messages.dto.ts
  chat.disabled.backup/dto/moderate-user.dto.ts
  chat.disabled.backup/dto/send-message.dto.ts
  chat.disabled.backup/dto/send-track-card.dto.ts
  chat.disabled.backup/entities/message.entity.ts
  chat.disabled.backup/entities/room.entity.ts
  chat.disabled.backup/gateways/chat.gateway.spec.ts
  chat.disabled.backup/interfaces/websocket-events.interface.ts
  chat.disabled.backup/services/analytics.service.ts
  chat.disabled.backup/services/chat.service.spec.ts
  chat.disabled.backup/services/chat.service.ts
  chat.disabled.backup/services/chat.service.ts.backup
  chat.disabled.backup/services/mentions.service.ts
  chat.disabled.backup/services/music-unfurl.service.spec.ts
  chat.disabled.backup/services/music-unfurling.service.ts
  chat.disabled.backup/services/safety.service.ts
  tsconfig.json
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log, no-only-tests

fix: configure correct healthcheck path for Railway deployment
  railway.json
Due: none

fix: add /health endpoint for Railway health checks
  src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Path conditions:
  eslint: any of: \.(ts|js)$
  type-check: any of: \.(ts)$
  unit-tests: any of: \.(ts)$
  test-coverage-check: any of: \.(ts)$
  prisma-format: any of: schema\.prisma$
  no-console-log: any of: \.(ts|js)$, but not: \.spec\.ts$
  no-only-tests: any of: \.spec\.ts$
