Repository sammogharabi/seda.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log, no-only-tests

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

unit-tests:
  name: Unit Tests
  entry: npm run test:unit -- --passWithNoTests --findRelatedTests
  language: system
  pass_filenames: true
  stages:
  - pre-push

test-coverage-check:
  name: Test Coverage Check
  entry: npm run test:cov -- --passWithNoTests --coverageThreshold='{"global":{"branches":70,"functions":70,"lines":70,"statements":70}}'
  language: system
  pass_filenames: false
  stages:
  - pre-push

prisma-format:
  name: Prisma Format
  entry: npx prisma format
  language: system

no-console-log:
  name: No console.log
  entry: console\.log
  language: pygrep

no-only-tests:
  name: No .only in tests
  entry: \.(only|skip)\(
  language: pygrep

fix: use MODE check for dev-only components
  frontend-v2/src/App.tsx
Due: none

fix: completely remove dev-only components from production
  frontend-v2/src/App.tsx
Due: none

fix: create profile in backend during onboarding
  frontend-v2/src/components/LoginPage.tsx
Due: none

fix: handle missing profile gracefully in auth check
  frontend-v2/src/hooks/useAuth.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: add missing following/followers arrays for Supabase users
  frontend-v2/src/App.tsx
  frontend-v2/src/hooks/useAuth.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: add missing following/followers arrays in all LoginPage user objects
  frontend-v2/src/components/LoginPage.tsx
Due: none

fix: add safety check for followingList in FollowSuggestions
  frontend-v2/src/components/FollowSuggestions.tsx
Due: none

fix: add defensive array checks to prevent undefined.map crashes
  frontend-v2/src/components/DiscoverView.tsx
  frontend-v2/src/components/SocialFeed.tsx
  frontend-v2/src/hooks/useFeed.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: add defensive array checks in room components
  frontend-v2/src/components/RoomView.tsx
  frontend-v2/src/components/RoomsView.tsx
Due: none

refactor: remove all mock data from RoomView.tsx
  frontend-v2/src/components/RoomView.tsx
Due: none

fix: remove mock data from DiscoverView for production
  frontend-v2/src/components/DiscoverView.tsx
Due: none

fix: add MapPin import back for Sessions tab button
  frontend-v2/src/components/DiscoverView.tsx
Due: none

fix: remove mock data from FollowSuggestions (People tab)
  frontend-v2/src/components/FollowSuggestions.tsx
Due: none

fix: clean up Discover components for production
  frontend-v2/src/components/DiscoverView.tsx
  frontend-v2/src/components/SessionsView.tsx
Due: none

feat: add People and Rooms APIs for Discover page
  backend/src/modules/discover/discover.controller.ts
  backend/src/modules/discover/discover.service.ts
  frontend-v2/src/components/DiscoverView.tsx
  frontend-v2/src/components/FollowSuggestions.tsx
  frontend-v2/src/lib/api/discover.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: remove mock data from Crates page
  frontend-v2/src/components/Crates.tsx
Due: none

feat: add Community Crates section with public crates from API
  backend/src/modules/playlists/playlists.controller.ts
  frontend-v2/src/components/Crates.tsx
  frontend-v2/src/lib/api/playlists.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: remove mock data from fan experience components
  frontend-v2/src/components/FollowingView.tsx
  frontend-v2/src/components/SocialFeedZine.tsx
  frontend-v2/src/components/UserProfile-fixed.tsx
Due: none

fix: remove mock data from artist experience components
  frontend-v2/src/components/ArtistAnalytics.tsx
  frontend-v2/src/components/ArtistContentManager.tsx
  frontend-v2/src/components/ArtistDashboard.tsx
  frontend-v2/src/components/ArtistMarketplaceMobile.tsx
  frontend-v2/src/components/ArtistProfile.tsx
Due: none

fix: use onShowAbout prop instead of external URL for about link
  frontend-v2/src/components/Sidebar.tsx
Due: none

fix: use profileAnalytics instead of MOCK_PROFILE_ANALYTICS
  frontend-v2/src/components/ArtistDashboard.tsx
Due: none

feat: add Settings page with streaming connections
  frontend-v2/src/App.tsx
  frontend-v2/src/components/SettingsView.tsx
  frontend-v2/src/components/Sidebar.tsx
Due: none

debug: add console logs to StreamingConnections
  frontend-v2/src/components/StreamingConnections.tsx
Due: none

fix: add /api/v1 prefix to streaming API calls
  frontend-v2/src/components/SettingsView.tsx
Due: none

fix: handle OAuth callback redirect for SPA
  .gitignore
  backend/src/modules/streaming/streaming.controller.ts
  frontend-v2/src/components/StreamingConnections.tsx
  frontend-v2/src/hooks/useAppState.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: reorder profile routes to fix /me/profile 404
  backend/src/modules/profiles/profiles.controller.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: auto-create profile when fetching user's own profile
  backend/src/modules/profiles/profiles.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

feat: add full CRUD for posts/sessions and fix search
  backend/APPLY_RLS_POLICIES.sql
  backend/FIX_RLS_FUNCTION.sql
  backend/prisma/migrations/20260121_enable_rls_all_tables/migration.sql
  backend/src/modules/feed/dto/update-post.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/posts.service.ts
  backend/src/modules/sessions/sessions.controller.ts
  backend/src/modules/sessions/sessions.service.ts
  backend/src/modules/user/user.service.ts
  frontend-v2/src/App.tsx
  frontend-v2/src/components/DesktopSearch.tsx
  frontend-v2/src/components/MobileSearchOptimized.tsx
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: remove feature flag from search endpoint
  backend/src/modules/search/search.controller.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: remove feature flags from discover and profiles endpoints
  backend/src/modules/discover/discover.controller.ts
  backend/src/modules/profiles/profiles.controller.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: remove all feature flags from controllers
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/playlists/playlists.controller.ts
  backend/src/modules/progression/progression.controller.ts
  backend/src/modules/sessions/sessions.controller.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

feat: add room invite system for private rooms
  backend/prisma/migrations/20260125_add_room_invites/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/rooms/rooms.controller.ts
  backend/src/modules/rooms/rooms.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log

feat: add room invite system UI components
  frontend-v2/src/components/InviteUserDialog.tsx
  frontend-v2/src/components/RoomInvites.tsx
  frontend-v2/src/components/RoomsView.tsx
  frontend-v2/src/lib/api/rooms.ts
  frontend-v2/src/lib/api/types.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

refactor: simplify room creation to public/private toggle
  frontend-v2/src/components/CreateRoomModal.tsx
Due: none

fix: make public/private toggle more visible
  frontend-v2/src/components/CreateRoomModal.tsx
Due: none

fix: use !important to override switch default colors
  frontend-v2/src/components/CreateRoomModal.tsx
Due: none

refactor: remove region selection and hide settings for private rooms
  frontend-v2/src/components/CreateRoomModal.tsx
Due: none

fix: show room settings for private rooms, hide for public
  frontend-v2/src/components/CreateRoomModal.tsx
Due: none

Path conditions:
  eslint: any of: \.(ts|js)$
  type-check: any of: \.(ts)$
  unit-tests: any of: \.(ts)$
  test-coverage-check: any of: \.(ts)$
  prisma-format: any of: schema\.prisma$
  no-console-log: any of: \.(ts|js)$, but not: \.spec\.ts$
  no-only-tests: any of: \.spec\.ts$
