Repository sammogharabi/seda.fm: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log, no-only-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      - id: type-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts)$
        pass_filenames: false

      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit -- --passWithNoTests --findRelatedTests
        language: system
        files: \.(ts)$
        pass_filenames: true
        stages: [pre-push]

      - id: test-coverage-check
        name: Test Coverage Check
        entry: npm run test:cov -- --passWithNoTests --coverageThreshold='{"global":{"branches":70,"functions":70,"lines":70,"statements":70}}'
        language: system
        files: \.(ts)$
        pass_filenames: false
        stages: [pre-push]

      - id: prisma-format
        name: Prisma Format
        entry: npx prisma format
        language: system
        files: schema\.prisma$

      - id: no-console-log
        name: No console.log
        entry: console\.log
        language: pygrep
        files: \.(ts|js)$
        exclude: \.spec\.ts$

      - id: no-only-tests
        name: No .only in tests
        entry: \.(only|skip)\(
        language: pygrep
        files: \.spec\.ts$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(ts|js|json|yml|yaml|md)$
        exclude: dist/

fix: add TypeScript types to health endpoint parameters
  src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: force Railway to use updated TypeScript fixes
  src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: correct Railway healthcheck path and startup script
  railway.json
  scripts/start-prod.js
Due: eslint, no-console-log

fix: simplify Railway startup process and add curl to Docker image
  Dockerfile
  railway.json
Due: none

debug: disable healthcheck temporarily and add error logging
  railway.json
  src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

debug: disable Docker healthcheck and add PORT debugging
  Dockerfile
  railway.json
Due: none

fix: disable Railway healthcheck system completely
  railway.json
Due: none

fix: completely disable Railway healthcheck and use explicit configuration
  Dockerfile
  railway.toml
  start.sh
Due: none

fix: add OpenSSL 1.1 compatibility for Prisma engine in Alpine Linux
  Dockerfile
Due: none

fix: switch to Debian-based Node.js image for Prisma compatibility
  Dockerfile
Due: none

docs: comprehensive Railway deployment troubleshooting guide
  CLAUDE.md
  DEPLOYMENT_TROUBLESHOOTING.md
  Dockerfile
Due: none

docs: add comprehensive Sandbox UAT testing guide
  SANDBOX_UAT_GUIDE.md
Due: none

Security fixes: Remove auth bypass, strengthen admin auth, fix input validation, add security headers and comprehensive error handling
  package-lock.json
  package.json
  railway.json.backup
  src/common/filters/all-exceptions.filter.ts
  src/common/guards/admin.guard.ts
  src/common/guards/auth.guard.ts
  src/config/supabase.service.ts
  src/main.ts
  src/modules/admin/dto/approve-verification.dto.ts
  src/modules/admin/dto/deny-verification.dto.ts
  src/modules/crawler/crawler.service.ts
  src/modules/verification/dto/submit-verification.dto.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

docs: Add comprehensive security documentation
  CLAUDE.md
  SECURITY_AUDIT_REPORT.md
  SECURITY_CHECKLIST.md
Due: none

fix(onboarding): persist genres completion and prevent re-prompting completed users
  CLAUDE.md
  prisma/migrations/20240916_add_onboarding_fields/migration.sql
  prisma/schema.prisma
  scripts/backfill-genres.js
  src/modules/profiles/dto/update-genres.dto.ts
  src/modules/profiles/profiles.controller.spec.ts
  src/modules/profiles/profiles.controller.ts
  src/modules/profiles/profiles.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log, no-only-tests

Add production readiness improvements
  backend/src/app.module.ts
  backend/src/main.ts
  frontend-v2/.env.production
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Add performance and security improvements
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  backend/src/modules/auth/dto/login.dto.ts
  backend/src/modules/auth/dto/signup.dto.ts
  backend/src/modules/marketplace/dto/create-product.dto.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Add request ID tracking middleware for debugging
  backend/src/app.module.ts
  backend/src/common/filters/all-exceptions.filter.ts
  backend/src/common/middleware/request-id.middleware.ts
  backend/src/modules/marketplace/dto/create-product.dto.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Enhance auth service error handling and logging
  backend/src/modules/auth/auth.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Add production enhancements: rate limiting, caching, and type safety
  backend/src/app.module.ts
  backend/src/common/interceptors/cache.interceptor.ts
  frontend-v2/src/contexts/AuthContext.tsx
  frontend-v2/src/hooks/useAppState.ts
  frontend-v2/src/hooks/useFeed.ts
  frontend-v2/src/hooks/useSearch.ts
  frontend-v2/src/types/index.ts
  frontend-v2/vite.config.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

Add Railway monorepo configuration
  railway.toml
Due: none

Remove root railway.toml - use dashboard config
  railway.toml
Due: none

Fix Dockerfile: use --omit=dev instead of deprecated --only=production
  backend/Dockerfile
Due: none

Fix Railway deployment: remove nested folder and force Dockerfile builder
  backend/backend/.gitignore
  backend/nixpacks.toml
  backend/railway.toml
Due: none

Accept both SUPABASE_SERVICE_KEY and SUPABASE_SERVICE_ROLE_KEY env vars
  backend/src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: use CommonJS import syntax for compression module
  backend/src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

feat: add production logging and error tracking
  backend/src/app.module.ts
  backend/src/common/logger/logger.module.ts
  backend/src/common/logger/logger.service.ts
  backend/src/common/middleware/logging.middleware.ts
  frontend-v2/package-lock.json
  frontend-v2/package.json
  frontend-v2/src/components/ErrorBoundary.tsx
  frontend-v2/src/lib/sentry.ts
  frontend-v2/src/main.tsx
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

fix: correct dist path in start.sh
  backend/start.sh
Due: none

fix: security audit improvements and E2E test fixes
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/admin-auth/admin-auth.service.ts
  backend/src/modules/admin-auth/dto/admin-login.dto.ts
  backend/src/modules/admin-auth/dto/create-admin.dto.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/direct-messages/direct-messages.controller.ts
  backend/src/modules/direct-messages/direct-messages.service.ts
  backend/src/modules/direct-messages/dto/create-message.dto.ts
  backend/src/modules/feed/dto/create-post.dto.ts
  backend/src/modules/feed/posts.service.ts
  backend/src/modules/health/health.controller.ts
  backend/src/modules/health/health.module.ts
  backend/src/modules/rooms/dto/send-message.dto.ts
  backend/test/app.e2e-spec.ts
  backend/test/auth.e2e-spec.ts
  backend/test/direct-messages.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/marketplace.e2e-spec.ts
  backend/test/profiles.e2e-spec.ts
  backend/test/rooms.e2e-spec.ts
  frontend-v2/.gitignore
Due: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log

fix: production readiness improvements
  backend/.env.example
  backend/prisma/migrations/20251224_add_user_indices/migration.sql
  backend/prisma/schema.prisma
  backend/src/config/sendgrid.service.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/gateway/chat.gateway.ts
  backend/src/modules/streaming/apple-music.service.ts
  backend/src/modules/streaming/beatport.service.ts
  backend/src/modules/streaming/soundcloud.service.ts
  backend/src/modules/streaming/spotify.service.ts
  backend/src/modules/streaming/streaming.controller.ts
  backend/src/modules/streaming/streaming.module.ts
  backend/src/modules/streaming/tidal.service.ts
Due: eslint, type-check, unit-tests, test-coverage-check, prisma-format, no-console-log

fix: use correct RoomMemberRole enum value (ADMIN instead of MODERATOR)
  backend/src/modules/gateway/chat.gateway.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

chore: add automatic database migrations on startup
  backend/start.sh
Due: none

fix: revert startup migration to fix Railway deployment
  backend/start.sh
Due: none

chore: trigger Railway redeploy
  backend/railway.toml
Due: none

feat: add Sentry error tracking to backend
  backend/.env.production.template
  backend/package-lock.json
  backend/package.json
  backend/src/common/filters/all-exceptions.filter.ts
  backend/src/common/guards/feature.guard.ts
  backend/src/main.ts
Due: eslint, type-check, unit-tests, test-coverage-check, no-console-log

chore: update pricing to free for all users
  frontend-v2/src/components/UserProfile-fixed.tsx
  frontend-v2/src/components/ZineAboutPage.tsx
Due: none

fix: hide dev-only components in production
  frontend-v2/src/AboutApp.tsx
  frontend-v2/src/App.tsx
  frontend-v2/src/FigmaAboutPage.tsx
  frontend-v2/src/components/ZineAboutPage.tsx
Due: none
